@page
@using GladiusDataExtract.Entities;
@model GladiusStatWeb.Pages.UnitsModel



@foreach (var unit in Model.Units)
{
	string htmlId = unit.Key.Replace("/", "-");

	<div class="unit-name" id="@htmlId"><a class="unit__name-link" href="#@htmlId">@unit.Name</a></div>
	<div class="unit__content">
		<div class="unit__item-content">
			<span>@{await DisplayIcon("Attributes","PopulationLimit", "Model Count");} @unit.ModelCount </span>
			<span>@{await DisplayIcon("Attributes","Armor");} @unit.Armor</span>
			<span>@{await DisplayIcon("Attributes","HitPoints");} @unit.Hitpoints 
				@{
					if(unit.ModelCount > 1)
					{
						@("(" + (unit.ModelCount * unit.Hitpoints).ToString() + ")")
					}
				}
			</span>
			<span>@{await DisplayIcon("Attributes","Movement");}@unit.Movement</span>

			@{await ShowResourceIfNotZero("Attributes","BioMass", unit.ProductionResources.BioMass);}
			@{await ShowResourceIfNotZero("Attributes","Energy", unit.ProductionResources.Energy);}
			@{await ShowResourceIfNotZero("Attributes","Food", unit.ProductionResources.Food);}
			@{await ShowResourceIfNotZero("Attributes","Influence", unit.ProductionResources.Influence);}
			@{await ShowResourceIfNotZero("Attributes","Ore", unit.ProductionResources.Ore);}

		</div>

		<div class="unit__item-content">
			<div class="unit__header">Weapons</div>
			<div class="unit__item-content">
				@foreach (Weapon weapon in unit.Weapons)
				{
					<span class="unit__header" >@weapon.Name</span>

					<div class="unit__item-content-separate">
						<span>@{await DisplayIcon("Attributes","Damage");} @weapon.Damage</span>
						<span>@{await DisplayIcon("Attributes","Attacks");} @weapon.AttackCount</span>
						<span>@{await DisplayIcon("Attributes","ArmorPenetration");} @weapon.ArmorPenetration</span>
						<span>@{await DisplayIcon("Attributes","Accuracy");}@weapon.Accuracy</span>
						@if (weapon.RequiredUpgrade != "")
						{
							<div><span class="property-name">Unit Upgrade Requirement: </span>@weapon.RequiredUpgrade</div>
						}

						<div class="unit__header">Traits</div>
						<div class="unit__item-content">
						@foreach (var trait in weapon.Traits)
						{
							<div>@trait</div>
						}
						</div>
						@if (weapon.Requirements.Count > 0)
						{
							<div class="unit__header">Weapon Requirements</div>
							<div class="unit__item-content">

							@foreach(var requirement in weapon.Requirements)
								{
									<div><span>@requirement.Name</span>
										@if(requirement.RequiredUpgrade != requirement.Name){
											<span> -> @requirement.RequiredUpgrade</span> 
										}
									</div>
								}
							</div>
						}
					</div>
				}

				@if(unit.Traits.Count != 0)
				{
					<div class="unit__header">Traits</div>

					<div class="unit__item-content">

						@foreach (var trait in unit.Traits)
						{
							<div>@trait</div>	
						}
					</div>
				}

				@if (unit.Upgrades.Count != 0)
				{
					<div class="unit__header">Upgrades</div>

					<div class="unit__item-content">

						@foreach (var upgrade in unit.Upgrades)
						{
							<div>
								@upgrade.Name @(" -> " + upgrade.RequiredUpgrade)
							</div>
						}
					</div>
				}
			</div>

		</div>
	</div>


	async Task ShowResourceIfNotZero(string imgSubFolder,string iconName, decimal value, string text = "")
	{
		if (value != 0)
		{
			<span>@{
					await DisplayIcon(imgSubFolder,iconName);
				} @value.ToString("#.##")</span>
		}
	}

	/// <summary>
	/// Creates an img tag for an icon in the img folder
	/// </summary>
	/// <param name="imgSubFolder">The subfolder the icon will be in.  Eg: Attributes</param>
	/// <param name="iconName">The name of the icon.  Will be the key.
	/// ex:  Orks/WarpFrenzy  </param>
	/// <param name="text">The tool tip text to show when hovered.  Defaults to the icon name</param>
	/// <returns></returns>
	async Task DisplayIcon(string imgSubFolder, string iconName, string text = "")
	{
		string displayText = text == "" ? iconName : text;

		<span class="icon-container">
			<img class="icon" data-bs-toggle="tooltip" data-bs-title="@displayText" src="~/img/@imgSubFolder/@(iconName).png" 
				)"></img>
		</span>
	}
}

@section Scripts {
<script type="text/javascript">
	const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>
}
